* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  margin: -1px;
  width: 2px;
}

body::-webkit-scrollbar:hover {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
}

body::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}


body {
  justify-content: center;
  margin: 0;
  height: 3733px;
  width: 100%;
}

.fundo {
  background-image: url("../assets/Group\ 1374\ \(4\).png");
  width: 100%;
  height: 145vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;

}

.macha {
  background-image: url("../assets/Vector\ 1.png");
  position: relative;
  justify-content: flex-start;
}

.logo {
  background-image: url("./assets/Captura de tela 2024-04-29 222740 3.png");
  position: relative;
  width: 200px;
  height: 90px;
  top: 0;
  left: 20%;
  z-index: 2;
  margin-left: 450px;
}

.fundo2 {
  background-image: url("../assets/Group\ 1375\ \(5\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

.estatisticasPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.linha_amarela {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  width: 400px;
  height: 10px;
  margin-top: 50px;
}

.linha_amarela2 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  width: 400px;
  height: 10px;
  margin-top: 50px;
}

.frase_1 {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #FEBA08;
  margin-top: 40px;

}

.estatisticas {
  font-family: "Urbanist", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.estatisticas p {
  margin: 0 20px;
}

.estatisticas2 {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.estatisticas2 p {
  margin: 0 20px;
}

.estatisticas3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.video_youtube {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.integrantes {
  margin-top: 200px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.linha_amarela3 {
  width: 400px;
  height: 10px;
}

.linha_amarela4 {
  width: 400px;
  height: 10px;
}

.frase_2 {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #FEBA08;
}


.img_integrantes {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.face {
  width: 220px;
  height: 220px;
  perspective: 700px;
}

.front_apuke,
.back_apuke {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 700ms;
}

.front_apuke {
  z-index: 2;
}

.front_apuke img {
  width: 100%;
  height: 100%;
}

.back_apuke {
  width: 100%;
  height: 100%;
  background-color: #200726;
  opacity: 90%;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.face:hover .front_apuke {
  transform: rotateY(180deg);
  z-index: 0;
}

.face:hover .back_apuke {
  transform: rotateY(0);
  z-index: 2;

}


.box_texto {
  display: flex;
  width: 60%;
  border-radius: 20px;
  margin: 100px auto 0 auto;
}

.card {
  width: 420px;
  height: 470px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  border-radius: 20px;
  /* opacity: 50%; */

}

.box_buscamos img {
  width: 500px;

}

.card p {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: black;
  padding: 10px;

}

.titulo {
  text-align: center;
  font-family: "Urbanist", sans-serif;
}

.card2 {
  width: 420px;
  height: 470px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;

}

.card2 p {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: black;
  padding: 10px;
}

.titulo2 {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  padding: 20px;
}

.box_onu {
  display: flex;
  margin-top: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly
}

.linha_amarela5 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  width: 400px;
  height: 10px;
  margin-top: 50px;
}

.linha_amarela6 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  width: 400px;
  height: 10px;
  margin-top: 50px;
}

.onu {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #FEBA08;
  margin-top: 20px;
}

.explicacao_onu {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.img_onu {
  display: flex;
  height: 300px;
  width: 300px;
  margin-top: 120px;
  margin-right: 15%;
}

.box_texto_onu {
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 20%;
  border-radius: 20px;
  padding: 10px;
}

.box_texto_onu p {
  color: black;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  padding: 20px;
}

.titulo3 {

  text-align: center;
  font-family: "Urbanist", sans-serif;
  padding: 20px;
  padding-left: 20px;
}

.box_divisao {
  height: 100px;
  width: 100vw;
  /* Use viewport width to ensure it spans the entire screen */
  background-color: rgba(235, 160, 8, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* To center the content vertically */
  margin-top: 200px;
  position: absolute;
  left: 0;
}

.box_final {
  height: 500px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 400px;
  align-items: center;
  position: relative;
  margin-left: 515px;
  border-radius: 20px;
}

.titulo4 {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 100px;
  color: #FEBA08;
}

.texto_final {
  padding: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;

}

.botao_final {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-family: "Urbanist",sans-serif;
  color: white;
  background-color: #FEBA08;
  border: none;
}
.rodape{
  background-color: black;
  margin-top: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.icones{
  display: flex;
  justify-content: center;
  /* position: relative; */
  align-items: center;
  right: 500px;
  gap:50px
}
.icones img{
  width: 50px;
  height: 50px;
}
.texto{
  color: white;
  margin-top: 20px;
  font-family: "Urbanist",sans-serif;
  text-align: center;

}