* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  margin: -1px;
  width: 2px;
}

body::-webkit-scrollbar:hover {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
}

body::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}


body {
  justify-content: center;
  margin: 0;
  height: 3733px;
  width: 100%;
}

.fundo {
  background-image: url("../assets/Group\ 1374\ \(4\).png");
  width: 100%;
  height: 145vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;

}

.macha {
  background-image: url("../assets/Vector\ 1.png");
  position: relative;
  justify-content: flex-start;
}

.logo {
  background-image: url("./assets/Captura de tela 2024-04-29 222740 3.png");
  position: relative;
  width: 170px;
  height: 63px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  margin-left: 450px;
}

.fundo2 {
  background-image: url("../assets/Group\ 1375\ \(5\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

.estatisticasPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.linha_amarela {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  width: 400px;
  height: 10px;
  margin-top: 50px;
}

.linha_amarela2 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  width: 400px;
  height: 10px;
  margin-top: 50px;
}

.frase_1 {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #FEBA08;
  margin-top: 40px;

}

.estatisticas {
  font-family: "Urbanist", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.estatisticas p {
  margin: 0 20px;
}

.estatisticas2 {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.estatisticas2 p {
  margin: 0 20px;
}

.estatisticas3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.video_youtube {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.integrantes {
  margin-top: 200px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.linha_amarela3 {
  width: 400px;
  height: 10px;
}

.linha_amarela4 {
  width: 400px;
  height: 10px;
}

.frase_2 {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #FEBA08;
}


.img_integrantes {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.face {
  width: 220px;
  height: 220px;
  perspective: 700px;
}

.front_apuke,
.back_apuke {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 700ms;
}

.front_apuke {
  z-index: 2;
}

.front_apuke img {
  width: 100%;
  height: 100%;
}

.back_apuke {
  width: 100%;
  height: 100%;
  background-color: #200726;
  opacity: 90%;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.face:hover .front_apuke {
  transform: rotateY(180deg);
  z-index: 0;
}

.face:hover .back_apuke {
  transform: rotateY(0);
  z-index: 2;

}


.box_texto{
  display: flex;
  width: 60%;
  border-radius: 20px;
  background-color: white;
  margin: 100px auto 0 auto;
}

.card {
  width: 420px;
  height: 470px;
  font-size: 20px;
  color: black;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.box_buscamos img {
  width: 500px;

}
.card p {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: black;
  padding: 10px;

}

.titulo {
  text-align: center;
  font-family: "Urbanist", sans-serif;
}
.card2{
  width: 220px;
  height: 470px;
  font-size: 20px;
  background-color: white;
  color: black;
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;

 }
 .card2 p{
  text-align: center;
  font-family: "Urbanist",sans-serif;
  color: black;
  padding: 10px;
 }
 .titulo2{
  text-align: center;
  font-family: "Urbanist",sans-serif;
  padding: 20px;
 }
 