*{
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 3733px;
    width: 100%;
}

.fundo {
    background-image: url("./assets/Group\ 1374\ \(4\).png");
    position: absolute;
    width: 100%;
    height: 145vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;

}

.macha {
    background-image: url("./assets/Vector\ 1.png");
    position: relative;
    justify-content: flex-start;
}

.logo {
    background-image: url("./assets/Captura de tela 2024-04-29 222740 3.png");
    position: relative;
    width: 170px;
    height: 63px;
    top: 0;
    left: 50%;
    transform:translate(-50%) ;
    z-index: 2;
    margin-left:450px;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);

  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);

  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);

  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
    
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  
  }
  .menu__box {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #FEBA08;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .fundo2{
    background-image: url("./assets/Group\ 1375.png");
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top:1050px;
    margin: 0;
    padding-right: 100px;
    z-index: 0;

  }
  .linha_amarela{
    background-image: url("./assets/Vector\ 28.png");
    display: flex;
    position: relative;
    justify-content: center;

  }
