*{
   margin: 0;
   padding:0;
}


.fundo{   
   background-image: url("./assets/Group\ 1373.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center ;
   overflow: hidden;
   width: 100vw;
   height:100vh;


}

